<div class="wrapper">
	<%= render 'layouts/sidenav' %>

	<div class="itinerary">
	<h1>Day 1 - May 31st</h1>
		<div id="activity1" class="activity">
			<h1>Travel to Airport</h1>
			<h2>Start: 15:30</h2>
			<h3>Duration: 1 hour</h3>
			<p>We need to get to the airport 3 hours early for international flights.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d360339.6457642237!2d-93.41932969461699!3d45.123225489430595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x52b2e39fa1ec1975%3A0x3fd65ec0653d6417!2s7421+220th+Ave+NE%2C+Wyoming%2C+MN+55092!3m2!1d45.368638999999995!2d-93.07996899999999!4m5!1s0x87f6292db32a78ab%3A0xce4592cd42b5e79a!2sMSP+Airport+(Terminal+1)%2C+Fort+Snelling+Unorganized+Territory%2C+MN!3m2!1d44.883399999999995!2d-93.2106!5e0!3m2!1sen!2sus!4v1495303594868" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/CjzM77GUbg12" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Arrive at Airport</h1>
			<h2>Wait time 3 hours</h2>
			<p>Should have plenty of time to go through customs before our flight leaves.</p>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Fly to Iceland</h1>
			<h2>Start: 19:30</h2>
			<h3>Duration: 6 hours</h3>
			<p>We'll be landing in Iceland at ??? local time.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d19621664.590958323!2d-75.65822057803567!3d53.106193117900936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e4!4m5!1s0x87f62f2a85c06a07%3A0x2bd3d37c78783591!2sMinneapolis%E2%88%92Saint+Paul+International+Airport%2C+Minnesota!3m2!1d44.884755399999996!2d-93.2222846!4m5!1s0x4929fdfce2ab799f%3A0x27f88d0a15c328cd!2sKeflavik+International+Airport%2C+235%2C+Iceland!3m2!1d63.986806699999995!2d-22.6279668!5e0!3m2!1sen!2sus!4v1495308261742&z=1" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/ZN4uCZecFuG2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>
</div><!--.wrapper-->