<div class="wrapper">
	<%= render 'layouts/sidenav' %>

	<div class="itinerary">
	<h1>Day 2 - June 1st</h1>
		<div id="activity1" class="activity">
			<h1>Fly to Frankfurt</h1>
			<h2>Start: 19:30</h2>
			<h3>Duration: 3 hours?</h3>
			<p>We'll be landing in Frankfurt at 21:30??? local time.</p>
		</div>
		<hr>	

		<div id="activity2" class="activity">
			<h1>Travel to Hotel</h1>
			<h2>Start: 19:30</h2>
			<h3>Duration: 3 hours?</h3>
			<p>We'll be landing in Frankfurt at 21:30??? local time.</p>
		</div>
		<hr>	


















</div><!--.wrapper-->