<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
				<li><%= link_to "Day 2 - Iceland/Frankfurt", day2_path %></li>
					<ul>
						<li><a href="#activity1" data-turbolinks="false">Fly to Frankfurt</a></li>
						<li><a href="#activity2" data-turbolinks="false">Travel to Hotel</a></li>
					</ul>
			</ul>
		</div>
	</div>

	<div class="itinerary">
	<h1>Day 2 - June 1st</h1>
		<div id="activity1" class="activity">
			<h1>Fly to Frankfurt</h1>
			<h2>Start: 19:30???</h2>
			<h3>Duration: 3 hours 25 minutes</h3>
			<p>We'll be landing in Frankfurt at 21:30??? local time.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d10444601.481336776!2d-18.494095035772908!3d57.491191751451936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e4!4m5!1s0x4929fdfce2ab799f%3A0x27f88d0a15c328cd!2sKeflavik+International+Airport%2C+Iceland!3m2!1d63.986806699999995!2d-22.6279668!4m5!1s0x47bd0b745442f979%3A0x8a74d84d21f8f331!2sFrankfurt+Airport%2C+Frankfurt%2C+Germany!3m2!1d50.0379326!2d8.562151799999999!5e0!3m2!1sen!2sus!4v1495308000929" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/Lp9FABH6o1u" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>	

		<div id="activity2" class="activity">
			<h1>Travel to Hotel</h1>
			<h2>Start: 21:30???</h2>
			<h3>Duration: 22 minutes</h3>
			<p>We'll be landing in Frankfurt at 21:30??? local time.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d5123.496636623193!2d8.576284579505932!3d50.05354586769016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47bd0a954d96b295%3A0x461864e71ed5dc98!2sFrankfurt+am+Main+Flughafen+Fernbahnhof%2C+60547%2C+Frankfurt+am+Main%2C+Germany!3m2!1d50.0528847!2d8.5698686!4m5!1s0x47bd0abc58b454fb%3A0xd3e0cb50f617e34b!2sMEININGER+Hotel+Frankfurt%2FMain+Airport%2C+Bessie-Coleman-Stra%C3%9Fe+11%2C+60549+Frankfurt+am+Main%2C+Germany!3m2!1d50.0559424!2d8.5914553!5e0!3m2!1sen!2sus!4v1495307932201" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/fzNXB1enZdv" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>	


















</div><!--.wrapper-->