<div class="wrapper">

	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 3 - Leipzig", day3_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Train Station</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Fulda</a></li>
					<li><a href="#activity4" data-turbolinks="false">Travel to Leipzig</a></li>
					<li><a href="#activity5" data-turbolinks="false">Travel to Hotel</a></li>
					<li><a href="#activity6" data-turbolinks="false">Travel to Lunch</a></li>
					<li><a href="#activity7" data-turbolinks="false">Travel to Monument</a></li>
					<li><a href="#activity8" data-turbolinks="false">Travel to Hotel</a></li>
					<li><a href="#activity9" data-turbolinks="false">Walk to Stasi Museum</a></li>
					<li><a href="#activity10" data-turbolinks="false">Walk to Bach Museum</a></li>
					<li><a href="#activity11" data-turbolinks="false">Walk to St. Thomas Church</a></li>
					<li><a href="#activity12" data-turbolinks="false">Walk to Dinner</a></li>
					<li><a href="#activity13" data-turbolinks="false">Walk to Hotel</a></li>
					<li><a href="#activity14" data-turbolinks="false">Taxi to Hotel</a></li>
				</ul>
			</ul>
		</div>
	</div>

	<div class="itinerary">
	<h1>Day 3 - June 2nd</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast</h1>
			<h2>Start: 07:11</h2>
			<h3>Duration: 30 minutes</h3>
			<p>We'll have breakfast at the hostel before we go to the train station.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.1856278426676!2d8.585719299851135!3d50.054796455481615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3e0cb50f617e34b!2sMEININGER+Hotel+Frankfurt%2FMain+Airport!5e0!3m2!1sen!2sus!4v1494612295083" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/d9w3WrWvmL82" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Travel to Train Station</h1>
				<h2>Depart: 07:41</h2>
				<h3>Duration: 22 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>I've alloted us ten more minutes to find the train before we have to depart at 8:13am</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d5123.49663662316!2d8.576284580119092!3d50.05354586769047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47bd0abc58b454fb%3A0xd3e0cb50f617e34b!2sMEININGER+Hotel+Frankfurt%2FMain+Airport%2C+Bessie-Coleman-Stra%C3%9Fe+11%2C+60549+Frankfurt+am+Main%2C+Germany!3m2!1d50.0559424!2d8.5914553!4m5!1s0x47bd0a954d96b295%3A0x461864e71ed5dc98!2sFrankfurt+am+Main+Flughafen+Fernbahnhof%2C+60547%2C+Frankfurt+am+Main%2C+Germany!3m2!1d50.0528847!2d8.5698686!5e0!3m2!1sen!2sus!4v1494613180684" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="https://goo.gl/maps/2gkxvUhzG9y" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Travel to Fulda</h1>
				<h2>Depart: 08:13</h2>
				<h3>Duration: 56 minutes</h3>
				<h4>Transportation: Deutsche Bahn ICE 694.  Platform 9.  Wagen 2. Seats 71, 75, 77.  2 Window, 1 aisle.</h4>
				<p>We need to switch trains at Fulda.  We arrive at platform 6 and need to get to platform 7.  We only have 5 minutes to get to the next train because we arrive at 9:09am and have to depart at 9:14am.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d326056.2357283975!2d8.889947364513144!3d50.32338643931842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47bd0bfe3791b2f9%3A0x4366c932973aafac!2sFrankfurt+Central+Station%2C+Am+Hauptbahnhof%2C+Frankfurt%2C+Germany!3m2!1d50.106528999999995!2d8.6621618!4m5!1s0x47a3369b09de9c6f%3A0x88c508c127032d96!2sFulda+Station%2C+Am+Bahnhof%2C+36037+Fulda%2C+Germany!3m2!1d50.5545483!2d9.6837279!5e0!3m2!1sen!2sus!4v1495412407720" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="https://goo.gl/maps/7TMX15Vs58Q2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Travel to Leipzig</h1>
				<h2>Depart: 09:14</h2>
				<h3>Duration: 2 hours 10 minutes</h3>
				<h4>Transportation: Deutsche Bahn ICE 1545.   Platform 7.  Wagen 22.  Seats 81,  83, 87.  1 Window, 2 aisle.</h4>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d643343.6513412987!2d10.47281157495717!3d50.95957387092035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a3369b09de9c6f%3A0x88c508c127032d96!2sFulda+Station%2C+Am+Bahnhof%2C+36037+Fulda%2C+Germany!3m2!1d50.5545483!2d9.6837279!4m5!1s0x47a6f82281a723cb%3A0x9601d070d5bfcdc7!2sLeipzig+Hauptbahnhof%2C+Willy-Brandt-Platz%2C+Leipzig%2C+Germany!3m2!1d51.3454725!2d12.3815755!5e0!3m2!1sen!2sus!4v1495412481355" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="https://goo.gl/maps/viRtMYDgJN22" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity5" class="activity">
			<h1>Travel to Hotel</h1>
				<h2>Depart: 11:24</h2>
				<h3>Duration: 10 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>We'll just be walking across the street to drop off our bags at the Meininger Hotel and then we're headed to lunch.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d2492.225512465728!2d12.378120566283705!3d51.343763679608564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!1s0x0%3A0xd40676494f93e7d6!3m2!1d51.342249699999996!2d12.3805021!4m5!1s0x47a6f82281a723cb%3A0x9601d070d5bfcdc7!2sLeipzig+Hauptbahnhof%2C+Willy-Brandt-Platz+5%2C+04109+Leipzig%2C+Germany!3m2!1d51.3454725!2d12.3815755!5e0!3m2!1sen!2sus!4v1494618341181" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="https://goo.gl/maps/9Fgp5avFruT2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity6" class="activity">
			<h1>Travel to Lunch</h1>
				<h2>Depart: 11:39</h2>
				<h3>Duration: 10 minutes</h3>
				<h4>Transportation: Walking/S5 Altenburg Tram (3 Stops)</h4>
				<p>We walk back to the Hauptbahnhof and then pick up the S5 Altenburg Tram to get to the Bayerischer Bahnhof Gasthaus & Gosebrauerei.  I have alloted 90 minutes for lunch.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d9970.245803959193!2d12.369050801231445!3d51.33758567372052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e3!4m4!1s0x0%3A0xd40676494f93e7d6!3m2!1d51.342249699999996!2d12.3805021!4m5!1s0x47a6f8317c4d8319%3A0xbc31c4f4faba76e3!2sBayerischer+Bahnhof+Gasthaus+%26+Gosebrauerei+Leipzig%2C+Bayrischer+Platz%2C+Leipzig%2C+Germany!3m2!1d51.329476!2d12.381162999999999!5e0!3m2!1sen!2sus!4v1494622751627" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="https://goo.gl/maps/H5Zg6cTGzDF2" target="_blank"><p>Google maps link</p></a>
				<a href="http://www.bayerischer-bahnhof.de/_Resources/Persistent/c3ea8b3c5cac1a27d7a6c0dbf07d013068e1ff15/Speisekarte-2017_web.pdf" target="_blank"><h2>Here is a link to their menu in German.</h2></a>
		</div>
		<hr>

		<div id="activity7" class="activity">
			<h1>Travel to Monument</h1>
				<h2>Depart: 13:19</h2>
				<h3>Duration: 18 minutes</h3>
				<h4>Transportation: Walking/S1 Leipzig-Stotteritz, Platform 1 (2 stops)</h4>
				<p>Once we get off the train we have to walk for a bit South down Prager Strasse and take a right on Wihelm-Kulz-Park but it's right on that street, you can't miss it since it's really tall.</p>
				<p>The walk should take about 13 minutes to get back from the entrance of the monument.  So we have about an hour at the monument.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d9974.007856673286!2d12.390905307836972!3d51.320286530669726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e3!4m5!1s0x47a6f8317c4d8319%3A0xbc31c4f4faba76e3!2sBayerischer+Bahnhof+Gasthaus+%26+Gosebrauerei+Leipzig%2C+Bayrischer+Pl.+1%2C+04103+Leipzig%2C+Germany!3m2!1d51.329476!2d12.381162999999999!4m4!1s0x0%3A0x27c1122cfc70cd94!3m2!1d51.312367099999996!2d12.4132675!5e0!3m2!1sen!2sus!4v1494905894017" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<a href="https://goo.gl/maps/dCwnF7wD21x" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity8" class="activity">
			<h1>Travel to Hotel</h1>
				<h2>Depart: 14:49</h2>
				<h3>Duration: 27 minutes</h3>
				<h4>Transportation: S1 Leipzig Miltitzer Allee, 5 stops</h4>
				<p>We have to leave about 15 minutes early from the monument to get back to the tram stop.  I then gave us a ten minute break when we get back to the hotel.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d19944.297298194255!2d12.376301815473328!3d51.32883629478693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f9acd894c62b%3A0x27c1122cfc70cd94!2sMonument+to+the+Battle+of+the+Nations%2C+Str.+des+18.+Oktober+100%2C+04299+Leipzig%2C+Germany!3m2!1d51.312367099999996!2d12.4132675!4m5!1s0x47a6f822fbf32fad%3A0xd40676494f93e7d6!2sMEININGER+Hotel+Leipzig+Central+Station%2C+Br%C3%BChl%2C+Leipzig%2C+Germany!3m2!1d51.342249699999996!2d12.3805021!5e0!3m2!1sen!2sus!4v1495745979168" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>				</div>
				<a href="https://goo.gl/maps/92FHxgZn4Pr" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>


		<div id="activity9" class="activity">
			<h1>Walk to Stasi Museum</h1>
				<h2>Depart: 15:26</h2>
				<h3>Duration: 11 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>Once we get there I gave us an hour until we need to go to the Bach Museum.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d2492.284831210323!2d12.372957116283734!3d51.34267282960852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m5!1s0x47a6f822fbf32fad%3A0xd40676494f93e7d6!2sMEININGER+Hotel+Leipzig+Central+Station%2C+Br%C3%BChl+69%2C+04109+Leipzig%2C+Germany!3m2!1d51.342249699999996!2d12.3805021!4m4!1s0x0%3A0x4a7844e0c1c5691b!3m2!1d51.3411377!2d12.3715025!5e0!3m2!1sen!2sus!4v1495746397683" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				<a href="https://goo.gl/maps/HVpT8CcL58A2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>


		<div id="activity10" class="activity">
			<h1>Walk to Bach Museum</h1>
				<h2>Depart: 16:37</h2>
				<h3>Duration: 6 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>Once we get there I gave us an hour until we need to walk across the street to the Thomaskirche.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d2492.4155592798656!2d12.36941806576383!3d51.34026872960795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!1s0x0%3A0x4a7844e0c1c5691b!3m2!1d51.3411377!2d12.3715025!4m5!1s0x47a6f826c178b70f%3A0x8c6873bed994b4a9!2sBach-Museum+Leipzig%2C+Thomaskirchhof%2C+Leipzig%2C+Germany!3m2!1d51.3388229!2d12.3723201!5e0!3m2!1sen!2sus!4v1495747013980" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>				</div>
				<a href="https://goo.gl/maps/TDrK7PLP1Xv" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity11" class="activity">
			<h1>Walk to St. Thomas Church</h1>
				<h2>Depart: 17:43</h2>
				<h3>Duration: 1 minute</h3>
				<h4>Transportation: Walking</h4>
				<p>We can get seats before the service starts at 18:00.  Everyone is required to buy an admissions program that costs &euro;2.  Service last approximately 1 hour.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d311.5590990365734!2d12.372372464013132!3d51.33921618437581!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d6b218cc94b79e8!2sSt.+Thomas+Church!5e0!3m2!1sen!2sus!4v1495747150542" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>				</div>
				<a href="https://goo.gl/maps/yXZXCBGRHct" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity12" class="activity">
			<h1>Walk to Dinner</h1>
				<h2>Depart: 19:00</h2>
				<h3>Duration: 7 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>We will be having dinner at an Italian place called Vapiano's.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2492.4793366285007!2d12.37397941628357!3d51.33909582960781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x47a6f826c481919b%3A0x2d6b218cc94b79e8!2sSt.+Thomas+Church%2C+Thomaskirchhof+18%2C+04109+Leipzig%2C+Germany!3m2!1d51.3393349!2d12.3725442!4m5!1s0x47a6f8249e40f063%3A0x3df27e302e05a7db!2sVapiano%2C+Augustusplatz%2C+Leipzig%2C+Germany!3m2!1d51.3392884!2d12.3797144!5e0!3m2!1sen!2sus!4v1495747218334" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>				</div>
				<a href="https://goo.gl/maps/vGgRtzFNC392" target="_blank"><p>Google maps link</p></a>
				<a href="http://de.vapiano.com/de/menue/"><h2>Vapiano Dinner Menu</h2></a>
		</div>
		<hr>

		<div id="activity13" class="activity">
			<h1>Walk to Hotel</h1>
				<h2>Depart: 20:30</h2>
				<h3>Duration: 5 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>It's a short walk back to the hotel.  Amanda should be able to walk back to the train station to find a taxi.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1246.1937419517901!2d12.378845308431778!3d51.340785044901985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x47a6f8249e40f063%3A0x3df27e302e05a7db!2sVapiano%2C+Augustusplatz%2C+Leipzig%2C+Germany!3m2!1d51.3392884!2d12.3797144!4m5!1s0x47a6f822fbf32fad%3A0xd40676494f93e7d6!2sMEININGER+Hotel+Leipzig+Central+Station%2C+Br%C3%BChl%2C+Leipzig%2C+Germany!3m2!1d51.342249699999996!2d12.3805021!5e0!3m2!1sen!2sus!4v1495747298088" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>				</div>
				<a href="https://goo.gl/maps/HDWRMXNwrUK2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity14" class="activity">
			<h1>Taxi to Hotel</h1>
				<h2>Depart: 20:40</h2>
				<h3>Duration: 24 minutes</h3>
				<h4>Transportation: Walking</h4>
				<p>It's a short walk back to the hotel.  Amanda should be able to walk back to the train station to find a taxi.</p>
				<div class="maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d9967.719801589055!2d12.373422765380928!3d51.34919871028167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47a6f822fbf32fad%3A0xd40676494f93e7d6!2sMEININGER+Hotel+Leipzig+Central+Station%2C+Br%C3%BChl%2C+Leipzig%2C+Germany!3m2!1d51.342249699999996!2d12.3805021!4m5!1s0x47a6583c9419b36b%3A0x5e3ef05c842b614c!2sHotel+Zum+Abschlepphof%2C+Bahnhofstra%C3%9Fe+5%2C+04158+Leipzig%2C+Germany!3m2!1d51.3919152!2d12.3734256!5e0!3m2!1sen!2sus!4v1495747479647" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>				</div>
				<a href="https://goo.gl/maps/u3YEf56qPNA2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>


	</div><!--.itinerary-->
</div><!--.wrapper-->
