<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 4 - Bacharach", day4_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Frankfurt</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Bacharach</a></li>
					<li><a href="#activity4" data-turbolinks="false">Walk to Frau Orth's Zimmer</a></li>
				</ul>
			</ul>
		</div>
	</div>

	<div class="itinerary">
	<h1>Day 4 - June 3nd</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast at Train Station</h1>
			<h2>Start: 07:00</h2>
			<h3>Duration: 20 minutes</h3>
			<p>We'll meet up back at the trainstation for breakfast at 07:00 and grab something to eat before we leave at 07:29.</p>
			<p>There are a bunch of places to eat at the trainstation including a Dunkin Donuts and a McDonalds.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2492.132588734949!2d12.37938681613468!3d51.34547247960903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a6f82281a723cb%3A0x9601d070d5bfcdc7!2sLeipzig+Hauptbahnhof!5e0!3m2!1sen!2sus!4v1495412984788" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/mvTuC3MkUzj" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Travel to Frankfurt</h1>
			<h2>Start: 07:29</h2>
			<h3>Duration: 3 hours 8 minutes</h3>
			<h4>Transportation: Deutsche Bahn ICE 1654.  Wagen 22.  Seats 81, 83, 87.  1 Window, 2 Aisle.</h4>
			<p>There are 6 stops on this route.  Erfurt @ 08:13, Gotha @ 08:30, Eisenach @ 08:49, Fulda @ 09:44, and finally Frankfurt Central Station @ 10:42.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1293064.5106687676!2d9.403506194089578!3d50.728906292903766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f818200f2c73%3A0x93df80d2b9b4f552!2sleipzig!3m2!1d51.3396955!2d12.3730747!4m5!1s0x47bd0bfe3791b2f9%3A0x4366c932973aafac!2sFrankfurt+Central+Station%2C+Am+Hauptbahnhof%2C+Frankfurt%2C+Germany!3m2!1d50.106528999999995!2d8.6621618!5e0!3m2!1sen!2sus!4v1495414231452" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/qhVfTzib9Rz" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Travel to Bacharach</h1>
			<h2>Start: 11:08</h2>
			<h3>Duration: 1 hours 12 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4256.  Platform 20.  No reserved seats.</h4>
			<p>UPDATE</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1280431.7543460873!2d8.533823118263182!3d51.18511157259038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f818200f2c73%3A0x93df80d2b9b4f552!2sleipzig!3m2!1d51.3396955!2d12.3730747!4m5!1s0x47bde04ade0f6acb%3A0x422d4d510db4160!2sbacharach!3m2!1d50.060418399999996!2d7.7681135999999995!5e0!3m2!1sen!2sus!4v1495413695731" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/M8CMcHAv8JD2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Walk to Irmgard Orth's Zimmer</h1>
			<h2>Start: 12:20</h2>
			<h3>Duration: 3 minutes</h3>
			<h4>Transportation: Walking.</h4>
			<p>Short walk from the trainstation to Frau Orth's place.  It's on Spurgasse 3.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d1280.7837591442935!2d7.769121134150527!3d50.056932460914936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!1s0x0%3A0x8ee3e2be0e9c41d1!3m2!1d50.056101!2d7.7695229999999995!4m5!1s0x47bde0f08578f977%3A0xaa7ba63b05fd0191!2sSpurgasse+3%2C+55422%2C+Bacharach%2C+Germany!3m2!1d50.0580192!2d7.7685898!5e0!3m2!1sen!2sus!4v1495416767466" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/hYKvVP5Pymr" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>








	</div>
</div><!--.wrapper-->