<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 5 - Colmar", day5_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Mainz</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Karlsruhe</a></li>
					<li><a href="#activity4" data-turbolinks="false">Travel to Strasbourg</a></li>
					<li><a href="#activity5" data-turbolinks="false">Travel to Colmar</a></li>
					<li><a href="#activity6" data-turbolinks="false">Walk to Lunch</a></li>
					<li><a href="#activity7" data-turbolinks="false">Lunch</a></li>
					<li><a href="#activity8" data-turbolinks="false">La Petite Venise</a></li>
					<li><a href="#activity9" data-turbolinks="false">Le Petit Train Blanc</a></li>
					<li><a href="#activity10" data-turbolinks="false">Eglise des Dominicains</a></li>
					<li><a href="#activity11" data-turbolinks="false">Glacier Gelatissimo</a></li>
					<li><a href="#activity12" data-turbolinks="false">Shopping</a></li>
					<li><a href="#activity13" data-turbolinks="false">Return to Train Station</a></li>
					<li><a href="#activity14" data-turbolinks="false">Travel to Dijon</a></li>
				</ul>
			</ul>
		</div>
	</div>

	<div class="itinerary">
	<h1>Day 5 - June 4nd</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast</h1>
			<h2>Start: 07:00</h2>
			<h3>Duration: 20 minutes</h3>
			<p>Breakfast will have to be at Frau Orth's fairly early since we have to be back on the train by 07:37.</p>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Travel to Mainz</h1>
			<h2>Start: 07:37</h2>
			<h3>Duration: 31 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4255.  Platform 1.  No reserved seats.</h4>
			<p>There are 3 stops on this route.  We will have 5 minutes to get to platform 6a for Karlsruhe.</p>
			<ul>
				<li>Bingen(Rhein) HBF: Platform 101 @ 07:47</li>
				<li>Ingelheim: Platform 4 @ 07:55</li>
				<li>Mainz HBF: Platform 5a @ 08:08</li>
			</ul>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d164108.03991497983!2d7.873462052666799!3d50.00782908452697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47bde0f08578f977%3A0xaa7ba63b05fd0191!2sSpurgasse+3%2C+55422+Bacharach%2C+Germany!3m2!1d50.0580192!2d7.7685898!4m5!1s0x47bd96e49dd04d27%3A0x9df7a9803a48e79c!2sMainz+Hbf%2C+Mainz%2C+Germany!3m2!1d50.001216799999995!2d8.2586318!5e0!3m2!1sen!2sus!4v1495764373920" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/iiYp1cTzY5J2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Travel to Karlsruhe</h1>
			<h2>Start: 08:13</h2>
			<h3>Duration: 1 hours 39 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4473.  Platform 6a.  No reserved seats.</h4>
			<p>There are 9 stops on this route.  We will have 14 minutes to get on the next train.</p>
			<ul>
				<li>Worms HBF: Platform 2 @ 08:40</li>
				<li>Frankenthal HBF: Platform 2 @ 08:47</li>
				<li>Ludwigshafen (Rh) HBF: Platform 9 @ 08:57</li>
				<li>Schifferstadt: Platform 3 @ 09:07</li>
				<li>Speyer HBF: Platform 3 @ 09:14</li>
				<li>Germersheim: Platform 2 @ 09:23</li>
				<li>Philippsburg(Baden): Platform 1 @ 09:31</li>
				<li>Graben-Neudorf: Platform 4 @ 09:40</li>
				<li>Karlsruhe HBF: Platform 1 @ 09:52</li>
			</ul>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d662677.7149012048!2d7.9000114735181155!3d49.5489875499225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47bd96e49dd04d27%3A0x9df7a9803a48e79c!2sMainz+Hbf%2C+Mainz%2C+Germany!3m2!1d50.001216799999995!2d8.2586318!4m5!1s0x4797066bf5e834ad%3A0x1e7f9f9a8a19a609!2sKarlsruhe+Hbf%2C+Bahnhofplatz%2C+Karlsruhe%2C+Germany!3m2!1d48.9935599!2d8.401864!5e0!3m2!1sen!2sus!4v1495764268667" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/3En2JuKBeJr" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Travel to Strasbourg</h1>
			<h2>Start: 10:06</h2>
			<h3>Duration: 41 minutes</h3>
			<h4>Transportation: Deutsche Bahn ICE  9566.  Platform 2.  Wagen 21.  Seats 12, 14, 18.  1 Window, 2 Aisle.</h4>
			<p>This is a non-stop route with a border crossing in Kehl, Deutschland.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d336430.8754208356!2d7.785647528150583!3d48.79398884023936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e3!4m5!1s0x4797066bf5e834ad%3A0x1e7f9f9a8a19a609!2sKarlsruhe+Hbf%2C+Bahnhofplatz%2C+Karlsruhe%2C+Germany!3m2!1d48.9935599!2d8.401864!4m3!3m2!1d48.585339!2d7.734067!5e0!3m2!1sen!2sus!4v1495766945854" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/26YRkycX7F42" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity5" class="activity">
			<h1>Travel to Colmar</h1>
			<h2>Start: 11:51</h2>
			<h3>Duration: 36 minutes</h3>
			<h4>Transportation: TGV TER 32307.</h4>
			<p>WiFi is available on this train!  Google maps not available.</p>
		</div>
		<hr>

		<div id="activity6" class="activity">
			<h1>Walk to Lunch</h1>
			<h2>Start: 12:30</h2>
			<h3>Duration: 15 minutes</h3>
			<h4>Destination: Chez Hansi</h4>
			<p>Pass through Parc du Champ de Mars</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d5331.657627701714!2d7.3484026!3d48.0749471!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x479165c348b70069%3A0xfe89c65b885f7c9f!2sColmar+Train+Station%2C+9+Place+de+la+Gare%2C+68000+Colmar%2C+France!3m2!1d48.072473699999996!2d7.3469006!4m5!1s0x479165e66006b6ad%3A0x3bb709b5dc52bd70!2sChez+Hansi%2C+Rue+des+Marchands%2C+Colmar%2C+France!3m2!1d48.0761573!2d7.3586594!5e0!3m2!1sen!2sus!4v1496009441661" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/kQWoCGx3NQS2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity7" class="activity">
			<h1>Lunch</h1>
			<h2>Start: 12:45</h2>
			<h3>Duration: 1 hour 30 minutes</h3>
			<h4>Cost: &euro;20-40</h4>
			<p>Alsatian traditional lunch</p>
			<p>Suggested ordering: Poulet au Riesling, quiche, Spatzle (soft egg noodles), and choucrote garnie.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d933.0128613289136!2d7.358094769525105!3d48.07608968784094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3bb709b5dc52bd70!2sChez+Hansi!5e0!3m2!1sen!2sus!4v1496010545928" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/TtUFVumGvC52" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity8" class="activity">
			<h1>La Petite Venise</h1>
			<h2>Start: 14:20</h2>
			<h3>Duration: 10 minutes</h3>
			<h4>Cost: &euro;6</h4>
			<p>Should only take about 10 mintues or less to walk there.</p>
			<p>Departs on demand but there might be a 15 minute wait so the boat tour part is only 30 minutes.</p>
			<p>Buy tickets at the bar/restaurant La Krutenau.  Found on 1 Rue de la Poissonerie.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d1332.9120884199433!2d7.3574516!3d48.0750366!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x479165e66006b6ad%3A0x3bb709b5dc52bd70!2sChez+Hansi%2C+Rue+des+Marchands%2C+Colmar%2C+France!3m2!1d48.0761573!2d7.3586594!4m5!1s0x479165e6223f2cff%3A0xb7df77b1b8db6474!2sLa+Krutenau%2C+Rue+de+la+Poissonnerie%2C+Colmar%2C+France!3m2!1d48.0740457!2d7.3577485!5e0!3m2!1sen!2sus!4v1496012113495" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/1H7n876FjFp" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity9" class="activity">
			<h1>Le Petit Train Blanc</h1>
			<h2>Start: 13:15</h2>
			<h3>Duration: 1 hour</h3>
			<h4>Cost: &euro;7</h4>
			<p>Departs across from the Monoprix, near the Dominican Church. There is another tourist train, but it’s not as good. You can hop on/hop off this train at: Place des Martyrs, Place Jeanne d’Arc (beyond the cathedral), Rue Turenne in Petit Venise, and at the train station. TICKETS FOR SALE FROM THE DRIVER AND AT THE TOURIST INFORMATION OFFICE.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2665.8895451415206!2d7.3558537!3d48.0737749!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x479165e6223f2cff%3A0xb7df77b1b8db6474!2sLa+Krutenau%2C+Rue+de+la+Poissonnerie%2C+Colmar%2C+France!3m2!1d48.0740457!2d7.3577485!4m5!1s0x479165e8a7a58b5f%3A0xc28ef06ea1d8166b!2sRue+Turenne%2C+68000+Colmar%2C+France!3m2!1d48.0735041!2d7.3585742!5e0!3m2!1sen!2sus!4v1496076635615" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/rceUqga6hxs" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity10" class="activity">
			<h1>Eglise des Dominicains</h1>
			<h2>Start: 14:15</h2>
			<h3>Duration: 1 hour</h3>
			<h4>Cost: &euro;1.50</h4>
			<p>Ten minute walk plus five minutes for waiting and then 45 minutes for the actual tour.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2665.7794125112187!2d7.3554185!3d48.0759006!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x479165e8a7a58b5f%3A0xc28ef06ea1d8166b!2sRue+Turenne%2C+68000+Colmar%2C+France!3m2!1d48.0735041!2d7.3585742!4m5!1s0x479165e72ec8b879%3A0xeeb79ade0904d04f!2sEglise+des+Dominicains%2C+Place+des+Dominicains%2C+68000+Colmar%2C+France!3m2!1d48.078297199999994!2d7.3565825!5e0!3m2!1sen!2sus!4v1496077243444" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/aq9gbACvjaJ2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity11" class="activity">
			<h1>Glacier Gelatissimo</h1>
			<h2>Start: 17:20</h2>
			<h3>Duration: 15 minutes</h3>
			<h4>Cost: &euro;5</h4>
			<p>About a 3 minute walk to get there from Eglise de Dominicains.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2665.679980686233!2d7.3542467!3d48.0778197!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x479165e72ec8b879%3A0xeeb79ade0904d04f!2sEglise+des+Dominicains%2C+Place+des+Dominicains%2C+68000+Colmar%2C+France!3m2!1d48.078297199999994!2d7.3565825!4m5!1s0x479165e7165bb68b%3A0xa45cee5dfe24498b!2sGlacier+Gelatissimo%2C+Rue+des+Marchands%2C+Colmar%2C+France!3m2!1d48.0773423!2d7.3562986!5e0!3m2!1sen!2sus!4v1496077515154" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/2nByLECJL8H2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity12" class="activity">
			<h1>Shopping</h1>
			<h2>Start: 17:35</h2>
			<h3>Duration: 40 minutes</h3>
			<p>We can shop and take photos.  20 minutes out and 20 minutes back.</p>
		</div>
		<hr>

		<div id="activity13" class="activity">
			<h1>Return to Train Station</h1>
			<h2>Arrive: 18:15</h2>
			<p>We need to be back to the train station by 18:15 so we can catch our train at 18:31.</p>
		</div>
		<hr>

		<div id="activity14" class="activity">
			<h1>Travel to Dijon</h1>
			<h2>Start: 17:20</h2>
			<h3>Duration: 1 hour 47 minutes</h3>
			<h4>Tranportation: TGV???</h4>
			<p>Then a two minute walk to the BnB.  They will be there to welcome us at 20:30.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2704.5069414852005!2d5.0259892!3d47.3239701!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47f29d95c3f84463%3A0x2dd0b913dc3fa408!2sGare+de+Dijon%2C+21000+Dijon%2C+France!3m2!1d47.3235004!2d5.027142899999999!4m5!1s0x47f29d93f70340a3%3A0x15a3f237c72b9eb8!2s28+Rue+des+Perri%C3%A8res%2C+Dijon%2C+France!3m2!1d47.324439899999994!2d5.0282767!5e0!3m2!1sen!2sus!4v1496168296237" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/1SecSNv8V962" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>
		
	</div><!--.itinerary-->
</div><!--.wrapper-->