<div class="wrapper">
	<%= render 'layouts/sidenav' %>

	<div class="itinerary">
	<h1>Day 5 - June 4nd</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast at Train Station</h1>
			<h2>Start: 07:00</h2>
			<h3>Duration: 20 minutes</h3>
			<p>Breakfast will have to be at Frau Orth's fairly early since we have to be back on the train by 07:37.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2492.132588734949!2d12.37938681613468!3d51.34547247960903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a6f82281a723cb%3A0x9601d070d5bfcdc7!2sLeipzig+Hauptbahnhof!5e0!3m2!1sen!2sus!4v1495412984788" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/mvTuC3MkUzj" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Travel to Mainz</h1>
			<h2>Start: 07:37</h2>
			<h3>Duration: 31 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4255.  Platform 1.  No reserved seats.</h4>
			<p>We will arrive on platform 5a and need to get to platform 6a within 5 minutes.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1293064.5106687676!2d9.403506194089578!3d50.728906292903766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f818200f2c73%3A0x93df80d2b9b4f552!2sleipzig!3m2!1d51.3396955!2d12.3730747!4m5!1s0x47bd0bfe3791b2f9%3A0x4366c932973aafac!2sFrankfurt+Central+Station%2C+Am+Hauptbahnhof%2C+Frankfurt%2C+Germany!3m2!1d50.106528999999995!2d8.6621618!5e0!3m2!1sen!2sus!4v1495414231452" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/qhVfTzib9Rz" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Travel to Karlsruhe</h1>
			<h2>Start: 08:13</h2>
			<h3>Duration: 1 hours 39 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4473.  Platform 6a.  No reserved seats.</h4>
			<p>We will arrive on platform 1 and need to get to platform 2 within 14 minutes.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1280431.7543460873!2d8.533823118263182!3d51.18511157259038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f818200f2c73%3A0x93df80d2b9b4f552!2sleipzig!3m2!1d51.3396955!2d12.3730747!4m5!1s0x47bde04ade0f6acb%3A0x422d4d510db4160!2sbacharach!3m2!1d50.060418399999996!2d7.7681135999999995!5e0!3m2!1sen!2sus!4v1495413695731" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/M8CMcHAv8JD2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Travel to Strasbourg</h1>
			<h2>Start: 10:06</h2>
			<h3>Duration: 41 minutes</h3>
			<h4>Transportation: Deutsche Bahn ICE  9566.  Platform 2.  Wagen 21.  Seats 12, 14, 18.  1 Window, 2 Aisle.</h4>
			<p>UPDATE</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1280431.7543460873!2d8.533823118263182!3d51.18511157259038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f818200f2c73%3A0x93df80d2b9b4f552!2sleipzig!3m2!1d51.3396955!2d12.3730747!4m5!1s0x47bde04ade0f6acb%3A0x422d4d510db4160!2sbacharach!3m2!1d50.060418399999996!2d7.7681135999999995!5e0!3m2!1sen!2sus!4v1495413695731" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/M8CMcHAv8JD2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity5" class="activity">
			<h1>Travel to Colmar</h1>
			<h2>Start: 11:51</h2>
			<h3>Duration: 36 minutes</h3>
			<h4>Transportation: TGV.</h4>
			<p>UPDATE</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1280431.7543460873!2d8.533823118263182!3d51.18511157259038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47a6f818200f2c73%3A0x93df80d2b9b4f552!2sleipzig!3m2!1d51.3396955!2d12.3730747!4m5!1s0x47bde04ade0f6acb%3A0x422d4d510db4160!2sbacharach!3m2!1d50.060418399999996!2d7.7681135999999995!5e0!3m2!1sen!2sus!4v1495413695731" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/M8CMcHAv8JD2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>












	</div><!--.itinerary-->
</div><!--.wrapper-->