<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 5 - Burgundy", day5_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Mainz</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Karlsruhe</a></li>
					<li><a href="#activity4" data-turbolinks="false">Travel to Strasbourg</a></li>
					<li><a href="#activity5" data-turbolinks="false">Travel to Colmar</a></li>
				</ul>
			</ul>
		</div>
	</div>

	<div class="itinerary">
	<h1>Day 5 - June 4nd</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast</h1>
			<h2>Start: 07:00</h2>
			<h3>Duration: 20 minutes</h3>
			<p>Breakfast will have to be at Frau Orth's fairly early since we have to be back on the train by 07:37.</p>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Travel to Mainz</h1>
			<h2>Start: 07:37</h2>
			<h3>Duration: 31 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4255.  Platform 1.  No reserved seats.</h4>
			<p>There are 3 stops on this route.  We will have 5 minutes to get to platform 6a for Karlsruhe.</p>
			<ul>
				<li>Bingen(Rhein) HBF: Platform 101 @ 07:47</li>
				<li>Ingelheim: Platform 4 @ 07:55</li>
				<li>Mainz HBF: Platform 5a @ 08:08</li>
			</ul>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d164108.03991497983!2d7.873462052666799!3d50.00782908452697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47bde0f08578f977%3A0xaa7ba63b05fd0191!2sSpurgasse+3%2C+55422+Bacharach%2C+Germany!3m2!1d50.0580192!2d7.7685898!4m5!1s0x47bd96e49dd04d27%3A0x9df7a9803a48e79c!2sMainz+Hbf%2C+Mainz%2C+Germany!3m2!1d50.001216799999995!2d8.2586318!5e0!3m2!1sen!2sus!4v1495764373920" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/iiYp1cTzY5J2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Travel to Karlsruhe</h1>
			<h2>Start: 08:13</h2>
			<h3>Duration: 1 hours 39 minutes</h3>
			<h4>Transportation: Deutsche Bahn RE 4473.  Platform 6a.  No reserved seats.</h4>
			<p>There are 9 stops on this route.  We will have 14 minutes to get on the next train.</p>
			<ul>
				<li>Worms HBF: Platform 2 @ 08:40</li>
				<li>Frankenthal HBF: Platform 2 @ 08:47</li>
				<li>Ludwigshafen (Rh) HBF: Platform 9 @ 08:57</li>
				<li>Schifferstadt: Platform 3 @ 09:07</li>
				<li>Speyer HBF: Platform 3 @ 09:14</li>
				<li>Germersheim: Platform 2 @ 09:23</li>
				<li>Philippsburg(Baden): Platform 1 @ 09:31</li>
				<li>Graben-Neudorf: Platform 4 @ 09:40</li>
				<li>Karlsruhe HBF: Platform 1 @ 09:52</li>
			</ul>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d662677.7149012048!2d7.9000114735181155!3d49.5489875499225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x47bd96e49dd04d27%3A0x9df7a9803a48e79c!2sMainz+Hbf%2C+Mainz%2C+Germany!3m2!1d50.001216799999995!2d8.2586318!4m5!1s0x4797066bf5e834ad%3A0x1e7f9f9a8a19a609!2sKarlsruhe+Hbf%2C+Bahnhofplatz%2C+Karlsruhe%2C+Germany!3m2!1d48.9935599!2d8.401864!5e0!3m2!1sen!2sus!4v1495764268667" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/3En2JuKBeJr" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Travel to Strasbourg</h1>
			<h2>Start: 10:06</h2>
			<h3>Duration: 41 minutes</h3>
			<h4>Transportation: Deutsche Bahn ICE  9566.  Platform 2.  Wagen 21.  Seats 12, 14, 18.  1 Window, 2 Aisle.</h4>
			<p>This is a non-stop route with a border crossing in Kehl, Deutschland.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d336430.8754208356!2d7.785647528150583!3d48.79398884023936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e3!4m5!1s0x4797066bf5e834ad%3A0x1e7f9f9a8a19a609!2sKarlsruhe+Hbf%2C+Bahnhofplatz%2C+Karlsruhe%2C+Germany!3m2!1d48.9935599!2d8.401864!4m3!3m2!1d48.585339!2d7.734067!5e0!3m2!1sen!2sus!4v1495766945854" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/26YRkycX7F42" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity5" class="activity">
			<h1>Travel to Colmar</h1>
			<h2>Start: 11:51</h2>
			<h3>Duration: 36 minutes</h3>
			<h4>Transportation: TGV TER 32307.</h4>
			<p>WiFi is available on this train!  Google maps not available.</p>
		</div>
		<hr>












	</div><!--.itinerary-->
</div><!--.wrapper-->