<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 6 - Burgundy", day6_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Pick up Car</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Beaune</a></li>
					<li><a href="#activity4" data-turbolinks="false">Find parking</a></li>
					<li><a href="#activity5" data-turbolinks="false">Le Patriarche P&egrave;re et Fils</a></li>
					<li><a href="#activity6" data-turbolinks="false">Walk to Mus&eacute;e</a></li>
					<li><a href="#activity7" data-turbolinks="false">Le Mus&eacute;e de l'H&ocirc;tel-Dieu</a></li>
					<li><a href="#activity8" data-turbolinks="false">Lunch</a></li>
					<li><a href="#activity9" data-turbolinks="false">Walk to Sensation Vin</a></li>
					<li><a href="#activity10" data-turbolinks="false">Sensation Vin</a></li>
					<li><a href="#activity11" data-turbolinks="false">Travel to Ch&acirc;teau de la Rochepot</a></li>
					<li><a href="#activity12" data-turbolinks="false">Find parking</a></li>
					<li><a href="#activity13" data-turbolinks="false">Ch&acirc;teau de la Rochepot</a></li>
					<li><a href="#activity14" data-turbolinks="false">Leave for Paris B&B</a></li>
					<li><a href="#activity15" data-turbolinks="false">La Maison Bacana</a></li>
				</ul>
			</ul>
		</div>
	</div>

	<div class="itinerary">
	<h1>Day 6 - June 4nd</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast</h1>
			<h2>Start: 08:00</h2>
			<h3>Duration: 20 minutes</h3>
			<p>We will eat at a bakery or a gare.</p>
			<p>Then we will go back to the Airbnb and return keys and clean the apartment.</p>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Pick up Car</h1>
			<h2>Start: 09:00</h2>
			<h3>Duration: 30 minutes</h3>
			<h4>Destination: Railway Station Gare Sncf, GU9</h4>
			<p>Phone: 0820 61 16 63</p>
			<p>Hours of Operation: Mon-Fri 08:00 - 19:00; Sat 08:30 - 13:00 and 13:30 - 17:00.</p>
		</div>
		<hr>		

		<div id="activity3" class="activity">
			<h1>Travel to Beaune</h1>
			<h2>Start: 09:30</h2>
			<h3>Duration: 35-50 minutes (40 minute avg)</h3>
			<h4>Transportation: Rental Car</h4>
			<p>Caves Patriarche P&egrave;re & Fils, 5-7 Rue du Coll&egrave;ge/rue Paul Chanson, 21200 Beaune, France.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d173575.93118927075!2d4.7990079!3d47.1750102!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47f29d95c3f84463%3A0x2dd0b913dc3fa408!2sGare+de+Dijon%2C+21000+Dijon%2C+France!3m2!1d47.3235004!2d5.027142899999999!4m5!1s0x47f2f34f08334dd9%3A0xb3c6a48a8b8cd0f7!2sCaves+Patriarche+P%C3%A8re+%26+Fils%2C+Rue+du+Coll%C3%A8ge%2Fr+Paul+Chanson%2C+Beaune%2C+France!3m2!1d47.0261995!2d4.8389432!5e0!3m2!1sen!2sus!4v1495998535071" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/wknZN5tmd8M2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Find Parking</h1>
			<h2>Start: 10:10</h2>
			<h3>Duration: 20 minutes</h3>
			<p>14 minute walk from parking. &euro;17</p>
			<p>Follow Centre-Ville signs to the ring road.  Once on the ring road, turn right at the first signal after the modern post office (Rue d'Alsace) and park for free a block away in <span style="text-decoration: underline;">Place Madeleine</span>.  If it's full, the ring road has metered parking and it'll open up soon.</p>
		</div>
		<hr>	

		<div id="activity5" class="activity">
			<h1>Le Patriarche P&egrave;re et Fils</h1>
			<h2>Start: 10:30</h2>
			<h3>Duration: 1 hour</h3>
			<p>No reservation necessary (unable to prebook).  Open every day from 09:30 to 11:30 and 14:00 to 17:30.</p>
			<a href="http://www.patriarche.com/cellarvisits/#/visite/6%20" target="_blank"><h2>Freedom Visit</h2></a>
		</div>
		<hr>	

		<div id="activity6" class="activity">
			<h1>Walk to Mus&eacute;e</h1>
			<h2>Start: 11:45</h2>
			<h3>Duration: 15 minutes</h3>
			<h4>Transportation: Walking</h4>
			<p>Short walk over to the museum.</p>
		</div>
		<hr>	

		<div id="activity7" class="activity">
			<h1>Le Mus&eacute;e de l'H&ocirc;tel-Dieu</h1>
			<h2>Start: 12:00</h2>
			<h3>Duration: 1 hour</h3>
			<h4>Cost: &euro;7/person</h4>
			<a href="http://hospices-de-beaune.com" target="_blank"><h2>Museum</h2></a>
		</div>
		<hr>	

		<div id="activity8" class="activity">
			<h1>Lunch</h1>
			<h2>Start: 13:00</h2>
			<h3>Duration: 1 hour</h3>
			<h4>Destination: Brasserie le Carnot</h4>
			<h4>Cost: &euro;25/person</h4>
			<p>Cr&ecirc;perie</p>
		</div>
		<hr>	

		<div id="activity9" class="activity">
			<h1>Walk to Sensation Vin</h1>
			<h2>Start: 14:00</h2>
			<h3>Duration: 15 minutes</h3>
			<p>It starts promptly at 14:30 so we should get there early.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d1359.9213404097204!2d4.836025158298992!3d47.023692944787555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e2!4m5!1s0x47f2f34599f91723%3A0x4bf6d33fc56d585c!2sBrasserie+le+Carnot%2C+18+Rue+Carnot%2C+21200+Beaune%2C+France!3m2!1d47.0234585!2d4.8380073!4m4!1s0x0%3A0x2cec19f080efc39c!3m2!1d47.023815!2d4.836291999999999!5e0!3m2!1sen!2sus!4v1496002170334" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/2A7xm28vA6E2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>	

		<div id="activity10" class="activity">
			<h1>Sensation Vin</h1>
			<h2>Start: 14:30</h2>
			<h3>Duration: 1 hour 30 minutes</h3>
			<h4>Cost: &euro;35/person for 8 vins</h4>
			<p>Vous pouvez stationner sur les parkings gratuits en p&eacute;riph&eacute;rie du centre-ville. Ils se situent &agrave; 5 minutes &agrave; pied de Sensation Vin.  Il suffit d'arriver 5 minutes &agrave; l'avance.</p>
			<p>Afterwards we need to walk back to where we parked at Le Patriarche P&egrave;re et Fils.</p>
		</div>
		<hr>	

		<div id="activity11" class="activity">
			<h1>Travel to Ch&acirc;teau de la Rochepot</h1>
			<h2>Start: 14:00</h2>
			<h3>Duration: 15 minutes</h3>
			<p>It starts promptly at 14:30 so we should get there early.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d43543.545064394944!2d4.722731979983828!3d46.99171296195322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x47f2f34f08334dd9%3A0xb3c6a48a8b8cd0f7!2sCaves+Patriarche+P%C3%A8re+%26+Fils%2C+5-7+Rue+du+Coll%C3%A8ge%2Fr+Paul+Chanson%2C+21200+Beaune%2C+France!3m2!1d47.0261995!2d4.8389432!4m5!1s0x47f258d494afaac9%3A0xc4bc3c9cf6d1ae92!2sCh%C3%A2teau+de+La+Rochepot%2C+La+Rochepot%2C+France!3m2!1d46.96013!2d4.680966!5e0!3m2!1sen!2sus!4v1496003246211" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/8MLgXKFRArF2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>	

		<div id="activity12" class="activity">
			<h1>Find Parking</h1>
			<h2>Start: 16:37</h2>
			<h3>Duration: 10 minutes</h3>
			<p>Need to buy tickets as well.</p>
		</div>
		<hr>	

		<div id="activity13" class="activity">
			<h1>Ch&acirc;teau de la Rochepot</h1>
			<h2>Start: 16:47</h2>
			<h3>Duration: 1 hour 15 minutes</h3>
			<p>Tour inner castle then grounds until close (17:30).  Then we can tour the grounds.</p>
		</div>
		<hr>

		<div id="activity14" class="activity">
			<h1>Leave for Paris B&B</h1>
			<h2>Start: 18:00</h2>
			<h3>Duration: 3 hour 30 minutes</h3>
			<h4>La Maison Bacana</h4>
			<p>Notify Fred of exact arrival time at 21:00.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1369796.5308264443!2d2.3726045511449843!3d47.89025542284171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x47f258d494afaac9%3A0xc4bc3c9cf6d1ae92!2sCh%C3%A2teau+de+La+Rochepot%2C+La+Rochepot%2C+France!3m2!1d46.96013!2d4.680966!4m5!1s0x47e673a4180b6d11%3A0x5e0bf145decdf1c1!2sLa+Maison+Bacana%2C+Rue+Emile+Zola%2C+Vitry-sur-Seine%2C+France!3m2!1d48.800883999999996!2d2.401018!5e0!3m2!1sen!2sus!4v1496006341653" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/r8fMzfXrHdz" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity15" class="activity">
			<h1>La Maison Bacana</h1>
			<h2>Start: 21:30</h2>
			<h3>Duration: 30 minutes</h3>
			<p>Find parking, check in, go to bed.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d328.5008235659659!2d2.400767370507753!3d48.80085288255942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673a4180b6d11%3A0x5e0bf145decdf1c1!2sLa+Maison+Bacana!5e0!3m2!1sen!2sus!4v1496007042740" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/nEKe9PKhy7M2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>







	</div><!--.itinerary-->
</div><!--.wrapper-->