<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 6 - Paris", day6_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
				</ul>
			</ul>
		</div>
	</div>

	
	<div>
		<h1>Day 6</h1>
	</div>
</div><!--.wrapper-->