<div class="wrapper">
	<div class="timeline">
		<div class="timelinenav">
			<ul>
			<li><%= link_to "Day 6 - Paris", day6_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Eiffel Tower</a></li>
					<li><a href="#activity3" data-turbolinks="false">Eiffel Tower Tour</a></li>
					<li><a href="#activity4" data-turbolinks="false">Travel to Versailles</a></li>
					<li><a href="#activity5" data-turbolinks="false">Lunch</a></li>
					<li><a href="#activity6" data-turbolinks="false">Rent Cart</a></li>
					<li><a href="#activity7" data-turbolinks="false">Musical Fountains & Garden Tour</a></li>
					<li><a href="#activity8" data-turbolinks="false">Versailles Security</a></li>
					<li><a href="#activity9" data-turbolinks="false">Palace of Versailles</a></li>
					<li><a href="#activity10" data-turbolinks="false">Travel to Place du Tertre</a></li>
					<li><a href="#activity11" data-turbolinks="false">Dinner</a></li>
					<li><a href="#activity12" data-turbolinks="false">Sacre Coeur</a></li>
					<li><a href="#activity13" data-turbolinks="false">Travel to Hotel</a></li>
					<li><a href="#activity14" data-turbolinks="false">Final Prep</a></li>
				</ul>
			</ul>
		</div>
	</div>

	
	<div class="itinerary">
	<h1>Day 6 - June 5th</h1>
		<div id="activity1" class="activity">
			<h1>Breakfast</h1>
			<h2>Start: 08:00</h2>
			<h3>Duration: 30 minutes</h3>
			<p>Amanda will leave at 08:30 to drop the car off at Chevilly Larue, AD8.  She'll then be back by 10:00.</p>
			<p>While Amanda is gone Don and Mom need to get everything packed and ready to go so that when we get up the next morning everything is ready for the flight out of Paris.</p>
			<p>Amanda is giving us about 25 minutes after she gets back to enjoy the French Garden and some coffee/tea.</p>
		</div>
		<hr>

		<div id="activity2" class="activity">
			<h1>Travel to Eiffel Tower</h1>
			<h2>Start: 10:25</h2>
			<h3>Duration: 38 minutes</h3>
			<h4>Transportation: RER C 42588 @ 10:39 or 42190 @ 10:55.</h4>
			<p>Amanda has given us some time to walk to the tower and then take pictures at the base before we start waiting for the tour to start.</p>
			<p>Approx. 15 minute with a delay up to 12:00</p>
		</div>
		<hr>

		<div id="activity3" class="activity">
			<h1>Eiffel Tower Tour</h1>
			<h2>Start: 11:30</h2>
			<h3>Duration: 45 minutes</h3>
			<p>The latest we can stay is 12:30 as Amanda has us down for a secondary 12:40 departure to Versailles.</p>
		</div>
		<hr>

		<div id="activity4" class="activity">
			<h1>Travel to Versailles</h1>
			<h2>Start: 12:24</h2>
			<h3>Duration: 26 minutes</h3>
			<h4>Transportation: RER C</h4>
			<p>Amanda has given us some time to walk to the tower and then take pictures at the base before we start waiting for the tour to start.</p>
			<p>Approx. 15 minute with a delay up to 12:00</p>
		</div>
		<hr>

		<div id="activity5" class="activity">
			<h1>Lunch</h1>
			<h2>Start: 12:24</h2>
			<h3>Duration: 15 minutes</h3>
			<h4>Destination: Aux Pains de la Ferme</h4>
			<p>3 minutes by foot from train station.  Walk from bakery to gardens to eat.</p>
			<p>Head to Les Escaliers de Latone.  Before we reach them, we should see the cart rentals on the right by the first pool of water.  As the worst of the crowd passes through the palace until 13:00, try to beat them to the carts.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2628.080123833605!2d2.1259742!3d48.7994494!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47e67db7d9a952d7%3A0xca6a80105e3614ed!2sGare+Versailles+Ch%C3%A2teau%2C+Avenue+de+l&#39;Europe%2C+Versailles%2C+France!3m2!1d48.800326999999996!2d2.128907!4m5!1s0x47e67dc8737711cb%3A0xaffd40f7e9bf0787!2sAux+Pains+de+la+Ferme%2C+9+Rue+Royale%2C+78000+Versailles%2C+France!3m2!1d48.7985718!2d2.127591!5e0!3m2!1sen!2sus!4v1495857652899" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/XerjtTSZGWK2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity6" class="activity">
			<h1>Rent Cart</h1>
			<h2>Start: 13:45</h2>
			<h3>Duration: 35 minutes</h3>
			<p>If no carts are available by the Palace we can take a small train to Canal for hire point #2.  If they don't have any there either we can walk back through the gardens from the canal and then see the palace.</p>
			<p>The carts are 32e/hr.  The carts will not drive in the Trianon or Domaine but can be parked.  €8 per additional 15 mintues.</p>
			<a href="http://en.chateauversailles.fr/plan-your-visit/facilities/small-electric-vehicles" target="_blank">Small Electric Vehicles for Chateau de Versailles</a>
		</div>
		<hr>

		<div id="activity7" class="activity">
			<h1>Musical Fountains & Garden Tour</h1>
			<h2>Start: 14:30</h2>
			<h3>Duration: 1 hour 45 minutes</h3>
			<p>Musical display from 10:00 to 19:00.  Water displays from 14:30 to 16:00 (these are a must see).  Skip the Mirror Fountain and pass on Water Theatre Grove (stupid).  Gardens are open until 20:30.</p>
		</div>
		<hr>

		<div id="activity8" class="activity">
			<h1>Versailles Security</h1>
			<h2>Start: 16:15</h2>
			<h3>Duration: 1 hour (hopefully less)</h3>
			<p>All palace visitors must go through security.  Check for special lines opened for passholders but don't count on it.  Queue in Line A.  Worst security crowds at Versailles are 10:00 - 12:00.  Worst palace crowds are 10:00 - 13:00.</p>
		</div>
		<hr>

		<div id="activity9" class="activity">
			<h1>Palace of Versailles</h1>
			<h2>Start: 17:15</h2>
			<h3>Duration: 1 hour 15 minutes</h3>
			<p>Open 09:00 - 18:30.  Last admission is at 18:00.</p>
		</div>
		<hr>

		<div id="activity10" class="activity">
			<h1>Travel to Place du Tertre</h1>
			<h2>Start: 18:45</h2>
			<h3>Duration: 30-55 minute ride</h3>
			<h4>Transportation: Taxi</h4>
			<p>If artists are closing down we can shop for 20 minutes until "proper" French dinnertime starts at 19:45.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d84008.54281196115!2d2.204683827437645!3d48.85311949736746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47e67db3e97a5fe1%3A0x9828e7f5b82ec1d!2s72+Rue+de+la+Paroisse%2C+78000+Versailles%2C+France!3m2!1d48.8063935!2d2.1328255!4m5!1s0x47e66e5caacf04fd%3A0x6d3cd0e018a4e299!2sPlace+du+Tertre+-+Norvins%2C+Paris%2C+France!3m2!1d48.886533!2d2.3414569999999997!5e0!3m2!1sen!2sus!4v1495859078199" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/jAZgVYgeapu" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity11" class="activity">
			<h1>Dinner</h1>
			<h2>Start: 19:30</h2>
			<h3>Duration: 1 hour</h3>
			<h4>Destination: La Crèmaillère 1900</h4>
			<a href="http://www.cremaillere1900.com/restaurant-montmartre/menu-renoir/" target="_blank">Menu Renoir</a>
			<p>French Dinning</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d551.5280133351848!2d2.340426495126885!3d48.8863472251563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x525be3e591e785b5!2zTGEgQ3LDqW1haWxsw6hyZSAxOTAw!5e0!3m2!1sen!2sus!4v1495859566145" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/fkV5ogdR32z" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity12" class="activity">
			<h1>Sacre Coeur</h1>
			<h2>Start: 20:30</h2>
			<h3>Duration: 1 hour</h3>
			<p>Sacre Coeur is 2 minutes away on foot with no stairs involved.  Asked to be dropped off along Rue Norvins. Carre des Artistes good until sundown.  Technically open until 02:00.  Some people pack it in by 18:00.</p>
		</div>
		<hr>

		<div id="activity13" class="activity">
			<h1>Travel to Hotel</h1>
			<h2>Start: 21:30</h2>
			<h3>Duration: 35 minutes</h3>
			<h4>Transportation: Taxi</h4>
			<p>Does not include Arc de Triomphe.  Take Boulevard de Magenta (not Perpherique).  Google maps picture isn't accurate but the link is.</p>
			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d168024.36278043088!2d2.2329488131782846!3d48.85095104998558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47e66e5caacf04fd%3A0x6d3cd0e018a4e299!2sPlace+du+Tertre+-+Norvins%2C+Paris%2C+France!3m2!1d48.886533!2d2.3414569999999997!4m5!1s0x47e673a41829b5fb%3A0xd02d4418b6ae7029!2s9+Rue+Emile+Zola%2C+94400+Vitry-sur-Seine%2C+France!3m2!1d48.8008427!2d2.4009340999999997!5e0!3m2!1sen!2sus!4v1495860023109" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<a href="https://goo.gl/maps/7zP1FwtRYTE2" target="_blank"><p>Google maps link</p></a>
		</div>
		<hr>

		<div id="activity14" class="activity">
			<h1>Final Prep</h1>
			<h2>Start: 22:05</h2>
			<h3>Duration: 25 minutes</h3>
			<p>Asleep by 22:30.  Leave for airport by 04:00.  5.5 hours of sleep.</p>
		</div>
		<hr>





	</div><!--.itinerary-->
</div><!--.wrapper-->