/*--------------------------------------- ITINERARY ---------------------------------------*/


hr {
	margin: 0;
}

.wrapper {
	display: grid;
	height: 100vh;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 2fr;
	text-align: center;
}


.itinerary-main {
	text-align: center;
}
	h1 {
		margin-top: 0;
		padding-top: 50px;
	}
.itinerary-main > ul {
	list-style: none;
	padding: 0;
}
	h2 {
		margin-top: 0;
		padding-top: 1em;
	}

.itinerary-main > ul > li:hover {
	background-color: #343838;
}

.itinerary
	h1 {
		padding-bottom: 0;
	}
	h1, h2 {
		margin-bottom: 0;
	}


/*----- .activity -----*/

.activity:nth-of-type(even) {
	background: #00B4CC;
}

.activity 

	h1 {
		margin: 0;
		padding-top: 50px;
	}

	p  {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	ul {
		list-style: none;
		padding: 0;
	}
