@media (max-width: 1170px) {

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.75em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2.25em;
}

p {
	font-size: 2em;
}

/*----------------------------------- NAVIGATION -----------------------------------*/
.desktop {
	display: none;
}

.mobile {
	display: block !important;
}

.burger-nav {
	display: block;
	height: 5em;
	width: 100%;
	background-color: #555;
}

.burger-nav img {
	display: block;
	height: 3em;
	padding: 1em;
}

.mobile ul {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	padding: 0;
}

.mobile ul li {
	text-align: center;
}

hr {
	display: none;
}





/*----------------------------------- CONTENT -----------------------------------*/

.wrapper {
	grid-template-columns: 1fr;
}

.timeline {
	display: none;
}

.maps {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}



.maps iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}









} /*---end of media query---*/