@media (max-width: 1170px) {

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.75em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2.25em;
}

p {
	font-size: 2em;
}


/*----------------------------------- NAVIGATION -----------------------------------*/
.desktop {
	display: none;
}

.mobile {
	display: block !important;
}

.mobile img {
	height: 5em;
	width: 5em;
}

.menu {
	width: 100%;
	background-color: #555;
	position: fixed;
	z-index: 1;
	top: 0;
	left: auto;
}

.menu a {
	padding: 1em;
	float: left;
}

.menu h2 {
	padding-left: 3em;
}

.burger-nav img {
	display: block;
}

.mobile > ul {
	margin-top: 7em;
	display: none;
}
.mobile > ul.open {
	list-style: none;
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	padding: 0;
	background-color: #005F6B;
	position: fixed;
	z-index: 1;
	top: 0;
	left: auto;
}

.mobile > ul > li > a > p {
	padding: 0;
}


.mobile ul li {
	text-align: center;
}







/*----------------------------------- CONTENT -----------------------------------*/
hr {
	display: none;
}


.wrapper {
	grid-template-columns: 1fr;
	margin-top: 7em;
}

.timeline {
	display: none;
}

.itinerary-main {
	margin-top: 7em;
}

.activity > ul > li {
	font-size: 2em;
}

.maps {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}



.maps iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}









} /*---end of media query---*/