// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Color Palette
343838
005F6B
008C9E
00B4CC
00DFFC
*/

/*--------------------------------------- MAIN ---------------------------------------*/

html {
	background: #008C9E;
}


body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

header {
	margin-bottom: 40px;
}



/*--------------------------------------- NAVIGATION ---------------------------------------*/
.mobile {
	display: none;
}

.desktop {
	text-align: center;
	position: fixed;
	z-index: 1;
	top: 0;
	left: auto;
	width: 100%;
	box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.5)
}

	a {
		color: white;
		display: block;
	}

.desktop > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #333;
	display: grid;
	grid-template-columns: 300px 1fr 1fr;
	align-content: center;
}

.desktop > ul > li {
	float: left;
	height: 40px;
	line-height: 40px;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.desktop > ul > li:hover {
	background: #00B4CC;
}

.desktop ul.drop-menu {
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	padding: 0;
}

.desktop ul.drop-menu li {
	background: #005F6B;
	height: 40px;
	color: rgba(255, 255, 255, 0.7);
}

.desktop ul.drop-menu li:hover {
	background: #343838;
}

.desktop ul.drop-menu li a:last-child {
	border-radius: 0px 0px 5px 5px;
}

.desktop ul.drop-menu li {
	display: none;
}

.desktop li:hover > ul.drop-menu li {
	display: block;
}






/*--------------------------------------- HOME PAGE ---------------------------------------*/
.home {
	background-image: url('/assets/eiffel_tower.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container h1 {
	text-align: center;
	color: white;
	font-size: 5em;
}




