.timeline {
	text-align: left;
	background-color: #343838;
}

.timelinenav {
	position: fixed;
}

.timelinenav > ul {
		padding: 1em;
	}

.timelinenav > ul > ul > li {
	padding: 1em;

}


.timeline a {
	color: white;
	text-decoration: none;
}

.timeline a:hover {
	color: #00DFFC;
}



