.timeline {
	text-align: left;
	background-color: #343838;
}

.timelinenav {
	position: fixed;
}

.timeline a {
	color: white;
	text-decoration: none;
}

.timeline a:hover {
	color: #00DFFC;
}

.sidenav > ul {
	display: none;
}

.sidenav > ul.open {
	display: block;
}