<nav class="mobile">
	<div class="menu">
		<a class="burger-nav"><img src="assets/menu.svg"></a>
		<h2>Hokanson Europe Trip</h2>
	</div>
	<ul>
		<li>
		<%= link_to root_path do %>
			<img src="assets/home.svg">
			<p>Home</p>
		<% end %>
		</li>

		<li>
		<%= link_to itinerary_path do %>
			<img src="assets/itinerary.svg">
			<p>Itinerary</p>
		<% end %>
		</li>

		<li>
		<%= link_to gallery_path do %>
			<img src="assets/gallery.svg">
			<p>Gallery</p>
		<% end %>
		</li>
	</ul>
</nav>